In [44]:
import pandas as pd
import numpy as np
import FinanceDataReader as fdr
import datetime

start_date = datetime.datetime.now() - datetime.timedelta(days=365*20)
# 현재 시간으로부터 20년 전 날짜 계산


df_kospi = fdr.DataReader('KS11', start_date).add_suffix('_kospi')
df_kosdaq = fdr.DataReader('KQ11', start_date).add_suffix('_kosdaq')
df_dow = fdr.DataReader('DJI', start_date).add_suffix('_dow')
df_nasdaq = fdr.DataReader('IXIC', start_date).add_suffix('_nasdaq')
df_snp500 = fdr.DataReader('US500', start_date).add_suffix('_s&p500')

In [53]:
df_heelim = fdr.DataReader('037440', start_date).add_suffix('_heelim')
df_heelim

,Open_heelim,High_heelim,Low_heelim,Close_heelim,Volume_heelim,Change_heelim
Date,,,,,,
2003-03-06,1073,1073,1065,1063,970,0.002830
2003-03-07,982,1065,982,1063,185,0.000000
2003-03-10,991,1063,972,1052,1414,-0.010348
2003-03-11,1055,1063,1055,1056,2002,0.003802
2003-03-12,1055,1055,1055,1056,3000,0.000000
...,...,...,...,...,...,...
2023-02-22,10100,10180,9970,10000,488908,-0.020568
2023-02-23,9980,10050,9840,9900,333425,-0.010000
2023-02-24,10000,10340,9880,9950,975178,0.005051
2023-02-27,9950,10070,9910,9950,258400,0.000000
2023-02-28,10030,10190,9950,9970,400955,0.002010

In [54]:
df_aps = fdr.DataReader('054620', start_date).add_suffix('_aps_holdings')
df_aps

,Open_aps_holdings,High_aps_holdings,Low_aps_holdings,Close_aps_holdings,Volume_aps_holdings,Change_aps_holdings
Date,,,,,,
2003-03-06,2027,2064,1984,2064,9320,0.010774
2003-03-07,2020,2064,1969,2028,6046,-0.017442
2003-03-10,2027,2049,1897,2028,11337,0.000000
2003-03-11,1977,1977,1846,1919,2343,-0.053748
2003-03-12,1781,2027,1781,2006,7529,0.045336
...,...,...,...,...,...,...
2023-02-22,13410,13690,13410,13600,46550,-0.005848
2023-02-23,13600,13760,13510,13760,33855,0.011765
2023-02-24,13600,13860,13600,13760,48890,0.000000
2023-02-27,13560,13950,13410,13770,41582,0.000727
2023-02-28,13800,13970,13150,13800,70418,0.002179

In [61]:
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', None)

In [62]:
data_aps = pd.merge(df_kospi, df_kosdaq, on='Date').merge(df_dow, on='Date').merge(df_nasdaq, on='Date').merge(df_snp500, on='Date').merge(df_aps, on='Date')
data_aps

,Open_kospi,High_kospi,Low_kospi,Close_kospi,Adj Close_kospi,Volume_kospi,Open_kosdaq,High_kosdaq,Low_kosdaq,Close_kosdaq,Adj Close_kosdaq,Volume_kosdaq,Open_dow,High_dow,Low_dow,Close_dow,Adj Close_dow,Volume_dow,Open_nasdaq,High_nasdaq,Low_nasdaq,Close_nasdaq,Adj Close_nasdaq,Volume_nasdaq,Open_s&p500,High_s&p500,Low_s&p500,Close_s&p500,Adj Close_s&p500,Volume_s&p500,Open_aps_holdings,High_aps_holdings,Low_aps_holdings,Close_aps_holdings,Volume_aps_holdings,Change_aps_holdings
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2003-03-06,564.739990,564.869995,551.799988,555.330017,555.330017,735600.0,394.299988,395.600006,380.200012,381.899994,381.899994,282000.0,7774.759766,7777.419922,7659.089844,7673.990234,7673.990234,231760000,1306.069946,1312.609985,1299.810059,1302.890015,1302.890015,1262310000,829.849976,829.849976,819.849976,822.099976,822.099976,1299200000,2027,2064,1984,2064,9320,0.010774
2003-03-07,547.890015,555.380005,544.090027,546.020020,546.020020,635100.0,371.100006,373.000000,366.399994,366.899994,366.899994,302600.0,7671.750000,7743.819824,7562.649902,7740.029785,7740.029785,310190000,1285.300049,1310.530029,1280.719971,1305.290039,1305.290039,1436040000,822.099976,829.549988,811.229980,828.890015,828.890015,1368500000,2020,2064,1969,2028,6046,-0.017442
2003-03-10,545.539978,548.289978,541.289978,544.239990,544.239990,607100.0,364.899994,367.700012,361.399994,362.000000,362.000000,286600.0,7739.399902,7739.470215,7559.640137,7568.180176,7568.180176,215960000,1295.459961,1299.550049,1277.180054,1278.369995,1278.369995,1119970000,828.890015,828.890015,806.570007,807.479980,807.479980,1255000000,2027,2049,1897,2028,11337,0.000000
2003-03-11,531.780029,538.619995,530.549988,532.530029,532.530029,657900.0,353.200012,356.399994,351.899994,354.299988,354.299988,304600.0,7568.529785,7642.410156,7520.629883,7524.060059,7524.060059,227470000,1280.729980,1288.989990,1269.479980,1271.469971,1271.469971,1251740000,807.479980,814.250000,800.299988,800.729980,800.729980,1427700000,1977,1977,1846,1919,2343,-0.053748
2003-03-12,531.169983,534.760010,524.530029,531.809998,531.809998,793800.0,354.299988,368.299988,354.000000,368.299988,368.299988,342400.0,7517.759766,7552.069824,7416.640137,7552.069824,7552.069824,286350000,1266.989990,1279.589966,1253.219971,1279.239990,1279.239990,1533600000,800.729980,804.190002,788.900024,804.190002,804.190002,1620000000,1781,2027,1781,2006,7529,0.045336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-21,2457.510010,2466.070068,2446.000000,2458.959961,2458.959961,494300.0,789.450012,793.419983,786.479980,793.419983,793.419983,1000.0,33699.691406,33699.691406,33115.738281,33129.589844,33129.589844,348320000,11640.370117,11684.139648,11491.179688,11492.299805,11492.299805,5002540000,4052.350098,4052.350098,3995.189941,3997.340088,3997.340088,4121590000,13440,13700,13260,13680,66553,0.017857
2023-02-22,2430.870117,2435.979980,2416.159912,2417.679932,2417.679932,426700.0,782.830017,787.849976,774.539978,778.510010,778.510010,1100.0,33169.328125,33245.968750,32948.269531,33045.089844,33045.089844,321910000,11517.200195,11582.519531,11445.169922,11507.070313,11507.070313,4671270000,4001.830078,4017.370117,3976.899902,3991.050049,3991.050049,4079320000,13410,13690,13410,13600,46550,-0.005848
2023-02-23,2430.010010,2449.620117,2422.620117,2439.090088,2439.090088,400300.0,782.179993,784.590027,774.099976,783.280029,783.280029,900.0,33175.390625,33272.398438,32795.671875,33153.910156,33153.910156,288120000,11636.929688,11638.980469,11432.580078,11590.400391,11590.400391,4714580000,4018.600098,4028.300049,3969.189941,4012.320068,4012.320068,3952940000,13600,13760,13510,13760,33855,0.011765
2023-02-24,2442.489990,2452.969971,2421.469971,2423.610107,2423.610107,369200.0,784.940002,786.090027,774.210022,778.880005,778.880005,1200.0,32999.191406,32999.191406,32643.480469,32816.921875,32816.921875,277120000,11404.179688,11434.360352,11334.469727,11394.940430,11394.940430,4432650000,3973.239990,3978.250000,3943.080078,3970.040039,3970.040039,3877700000,13600,13860,13600,13760,48890,0.000000
2023-02-27,2405.419922,2405.560059,2383.760010,2402.639893,2402.639893,356700.0,775.010010,781.539978,769.750000,780.299988,780.299988,1100.0,32906.160156,33189.281250,32814.179688,32889.089844,32889.089844,243660000,11517.190430,11565.230469,11444.599609,11466.980469,11466.980469,4494000000,3992.360107,4018.050049,3973.550049,3982.239990,3982.239990,3836950000,13560,13950,13410,13770,41582,0.000727

In [63]:
data_heelim = pd.merge(df_kospi, df_kosdaq, on='Date').merge(df_dow, on='Date').merge(df_nasdaq, on='Date').merge(df_snp500, on='Date').merge(df_heelim, on='Date')
data_heelim

,Open_kospi,High_kospi,Low_kospi,Close_kospi,Adj Close_kospi,Volume_kospi,Open_kosdaq,High_kosdaq,Low_kosdaq,Close_kosdaq,Adj Close_kosdaq,Volume_kosdaq,Open_dow,High_dow,Low_dow,Close_dow,Adj Close_dow,Volume_dow,Open_nasdaq,High_nasdaq,Low_nasdaq,Close_nasdaq,Adj Close_nasdaq,Volume_nasdaq,Open_s&p500,High_s&p500,Low_s&p500,Close_s&p500,Adj Close_s&p500,Volume_s&p500,Open_heelim,High_heelim,Low_heelim,Close_heelim,Volume_heelim,Change_heelim
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2003-03-06,564.739990,564.869995,551.799988,555.330017,555.330017,735600.0,394.299988,395.600006,380.200012,381.899994,381.899994,282000.0,7774.759766,7777.419922,7659.089844,7673.990234,7673.990234,231760000,1306.069946,1312.609985,1299.810059,1302.890015,1302.890015,1262310000,829.849976,829.849976,819.849976,822.099976,822.099976,1299200000,1073,1073,1065,1063,970,0.002830
2003-03-07,547.890015,555.380005,544.090027,546.020020,546.020020,635100.0,371.100006,373.000000,366.399994,366.899994,366.899994,302600.0,7671.750000,7743.819824,7562.649902,7740.029785,7740.029785,310190000,1285.300049,1310.530029,1280.719971,1305.290039,1305.290039,1436040000,822.099976,829.549988,811.229980,828.890015,828.890015,1368500000,982,1065,982,1063,185,0.000000
2003-03-10,545.539978,548.289978,541.289978,544.239990,544.239990,607100.0,364.899994,367.700012,361.399994,362.000000,362.000000,286600.0,7739.399902,7739.470215,7559.640137,7568.180176,7568.180176,215960000,1295.459961,1299.550049,1277.180054,1278.369995,1278.369995,1119970000,828.890015,828.890015,806.570007,807.479980,807.479980,1255000000,991,1063,972,1052,1414,-0.010348
2003-03-11,531.780029,538.619995,530.549988,532.530029,532.530029,657900.0,353.200012,356.399994,351.899994,354.299988,354.299988,304600.0,7568.529785,7642.410156,7520.629883,7524.060059,7524.060059,227470000,1280.729980,1288.989990,1269.479980,1271.469971,1271.469971,1251740000,807.479980,814.250000,800.299988,800.729980,800.729980,1427700000,1055,1063,1055,1056,2002,0.003802
2003-03-12,531.169983,534.760010,524.530029,531.809998,531.809998,793800.0,354.299988,368.299988,354.000000,368.299988,368.299988,342400.0,7517.759766,7552.069824,7416.640137,7552.069824,7552.069824,286350000,1266.989990,1279.589966,1253.219971,1279.239990,1279.239990,1533600000,800.729980,804.190002,788.900024,804.190002,804.190002,1620000000,1055,1055,1055,1056,3000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-21,2457.510010,2466.070068,2446.000000,2458.959961,2458.959961,494300.0,789.450012,793.419983,786.479980,793.419983,793.419983,1000.0,33699.691406,33699.691406,33115.738281,33129.589844,33129.589844,348320000,11640.370117,11684.139648,11491.179688,11492.299805,11492.299805,5002540000,4052.350098,4052.350098,3995.189941,3997.340088,3997.340088,4121590000,10080,10500,10010,10210,1084389,0.021000
2023-02-22,2430.870117,2435.979980,2416.159912,2417.679932,2417.679932,426700.0,782.830017,787.849976,774.539978,778.510010,778.510010,1100.0,33169.328125,33245.968750,32948.269531,33045.089844,33045.089844,321910000,11517.200195,11582.519531,11445.169922,11507.070313,11507.070313,4671270000,4001.830078,4017.370117,3976.899902,3991.050049,3991.050049,4079320000,10100,10180,9970,10000,488908,-0.020568
2023-02-23,2430.010010,2449.620117,2422.620117,2439.090088,2439.090088,400300.0,782.179993,784.590027,774.099976,783.280029,783.280029,900.0,33175.390625,33272.398438,32795.671875,33153.910156,33153.910156,288120000,11636.929688,11638.980469,11432.580078,11590.400391,11590.400391,4714580000,4018.600098,4028.300049,3969.189941,4012.320068,4012.320068,3952940000,9980,10050,9840,9900,333425,-0.010000
2023-02-24,2442.489990,2452.969971,2421.469971,2423.610107,2423.610107,369200.0,784.940002,786.090027,774.210022,778.880005,778.880005,1200.0,32999.191406,32999.191406,32643.480469,32816.921875,32816.921875,277120000,11404.179688,11434.360352,11334.469727,11394.940430,11394.940430,4432650000,3973.239990,3978.250000,3943.080078,3970.040039,3970.040039,3877700000,10000,10340,9880,9950,975178,0.005051
2023-02-27,2405.419922,2405.560059,2383.760010,2402.639893,2402.639893,356700.0,775.010010,781.539978,769.750000,780.299988,780.299988,1100.0,32906.160156,33189.281250,32814.179688,32889.089844,32889.089844,243660000,11517.190430,11565.230469,11444.599609,11466.980469,11466.980469,4494000000,3992.360107,4018.050049,3973.550049,3982.239990,3982.239990,3836950000,9950,10070,9910,9950,258400,0.000000

In [80]:
df_dow

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2003-03-06,7774.759766,7777.419922,7659.089844,7673.990234,7673.990234,231760000
2003-03-07,7671.750000,7743.819824,7562.649902,7740.029785,7740.029785,310190000
2003-03-10,7739.399902,7739.470215,7559.640137,7568.180176,7568.180176,215960000
2003-03-11,7568.529785,7642.410156,7520.629883,7524.060059,7524.060059,227470000
2003-03-12,7517.759766,7552.069824,7416.640137,7552.069824,7552.069824,286350000
...,...,...,...,...,...,...
2023-02-21,33699.691406,33699.691406,33115.738281,33129.589844,33129.589844,348320000
2023-02-22,33169.328125,33245.968750,32948.269531,33045.089844,33045.089844,321910000
2023-02-23,33175.390625,33272.398438,32795.671875,33153.910156,33153.910156,288120000
2023-02-24,32999.191406,32999.191406,32643.480469,32816.921875,32816.921875,277120000
2023-02-27,32906.160156,33189.281250,32906.160156,32998.730469,32998.730469,66522806

In [41]:
df_nasdaq

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2003-03-06,829.849976,829.849976,819.849976,822.099976,822.099976,1299200000
2003-03-07,822.099976,829.549988,811.229980,828.890015,828.890015,1368500000
2003-03-10,828.890015,828.890015,806.570007,807.479980,807.479980,1255000000
2003-03-11,807.479980,814.250000,800.299988,800.729980,800.729980,1427700000
2003-03-12,800.729980,804.190002,788.900024,804.190002,804.190002,1620000000
...,...,...,...,...,...,...
2023-02-21,4052.350098,4052.350098,3995.189941,3997.340088,3997.340088,4121590000
2023-02-22,4001.830078,4017.370117,3976.899902,3991.050049,3991.050049,4079320000
2023-02-23,4018.600098,4028.300049,3969.189941,4012.320068,4012.320068,3952940000
2023-02-24,3973.239990,3978.250000,3943.080078,3970.040039,3970.040039,3877700000
2023-02-27,3992.360107,4012.489990,3992.360107,4011.449951,4011.449951,267818427

In [22]:

# df_kospi = fdr.DataReader('KS11', start_date)
# df_kosdaq = fdr.DataReader('KQ11', start_date)
# df_dow = fdr.DataReader('DJI', start_date)
# df_nasdaq = fdr.DataReader('IXIC', start_date)
# df_snp500 = fdr.DataReader('US500', start_date)


df = pd.merge(df_kospi, df_kosdaq, on='Date', suffixes=('_kospi', '_kosdaq'))
df

,Open_kospi,High_kospi,Low_kospi,Close_kospi,Adj Close_kospi,Volume_kospi,Open_kosdaq,High_kosdaq,Low_kosdaq,Close_kosdaq,Adj Close_kosdaq,Volume_kosdaq
Date,,,,,,,,,,,,
2003-03-06,564.739990,564.869995,551.799988,555.330017,555.330017,735600.0,394.299988,395.600006,380.200012,381.899994,381.899994,282000.0
2003-03-07,547.890015,555.380005,544.090027,546.020020,546.020020,635100.0,371.100006,373.000000,366.399994,366.899994,366.899994,302600.0
2003-03-10,545.539978,548.289978,541.289978,544.239990,544.239990,607100.0,364.899994,367.700012,361.399994,362.000000,362.000000,286600.0
2003-03-11,531.780029,538.619995,530.549988,532.530029,532.530029,657900.0,353.200012,356.399994,351.899994,354.299988,354.299988,304600.0
2003-03-12,531.169983,534.760010,524.530029,531.809998,531.809998,793800.0,354.299988,368.299988,354.000000,368.299988,368.299988,342400.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-22,2430.870117,2435.979980,2416.159912,2417.679932,2417.679932,426700.0,782.830017,787.849976,774.539978,778.510010,778.510010,1100.0
2023-02-23,2430.010010,2449.620117,2422.620117,2439.090088,2439.090088,400300.0,782.179993,784.590027,774.099976,783.280029,783.280029,900.0
2023-02-24,2442.489990,2452.969971,2421.469971,2423.610107,2423.610107,369200.0,784.940002,786.090027,774.210022,778.880005,778.880005,1200.0
2023-02-27,2405.419922,2405.560059,2383.760010,2402.639893,2402.639893,356700.0,775.010010,781.539978,769.750000,780.299988,780.299988,1100.0
2023-02-28,2417.580078,2431.669922,2407.290039,2412.850098,2412.850098,529790.0,784.229980,793.650024,783.659973,791.599976,791.599976,1005903.0

In [11]:
df_2 = pd.merge(df_dow, df_nasdaq, on='Date', suffixes=('_dow', '_nasdaq'))
df_2

,Open_dow,High_dow,Low_dow,Close_dow,Adj Close_dow,Volume_dow,Open_nasdaq,High_nasdaq,Low_nasdaq,Close_nasdaq,Adj Close_nasdaq,Volume_nasdaq
Date,,,,,,,,,,,,
2003-03-06,7774.759766,7777.419922,7659.089844,7673.990234,7673.990234,231760000,1306.069946,1312.609985,1299.810059,1302.890015,1302.890015,1262310000
2003-03-07,7671.750000,7743.819824,7562.649902,7740.029785,7740.029785,310190000,1285.300049,1310.530029,1280.719971,1305.290039,1305.290039,1436040000
2003-03-10,7739.399902,7739.470215,7559.640137,7568.180176,7568.180176,215960000,1295.459961,1299.550049,1277.180054,1278.369995,1278.369995,1119970000
2003-03-11,7568.529785,7642.410156,7520.629883,7524.060059,7524.060059,227470000,1280.729980,1288.989990,1269.479980,1271.469971,1271.469971,1251740000
2003-03-12,7517.759766,7552.069824,7416.640137,7552.069824,7552.069824,286350000,1266.989990,1279.589966,1253.219971,1279.239990,1279.239990,1533600000
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-21,33699.691406,33699.691406,33115.738281,33129.589844,33129.589844,348320000,11640.370117,11684.139648,11491.179688,11492.299805,11492.299805,5002540000
2023-02-22,33169.328125,33245.968750,32948.269531,33045.089844,33045.089844,321910000,11517.200195,11582.519531,11445.169922,11507.070313,11507.070313,4671270000
2023-02-23,33175.390625,33272.398438,32795.671875,33153.910156,33153.910156,288120000,11636.929688,11638.980469,11432.580078,11590.400391,11590.400391,4714580000
2023-02-24,32999.191406,32999.191406,32643.480469,32816.921875,32816.921875,277120000,11404.179688,11434.360352,11334.469727,11394.940430,11394.940430,4432650000
2023-02-27,32906.160156,33189.281250,32814.179688,32889.089844,32889.089844,243660000,11517.190430,11565.230469,11444.599609,11466.980469,11466.980469,4494000000

In [12]:
df_sum = pd.merge(df, df_2, on='Date')
df_sum

,Open_kospi,High_kospi,Low_kospi,Close_kospi,Adj Close_kospi,Volume_kospi,Open_kosdaq,High_kosdaq,Low_kosdaq,Close_kosdaq,...,Low_dow,Close_dow,Adj Close_dow,Volume_dow,Open_nasdaq,High_nasdaq,Low_nasdaq,Close_nasdaq,Adj Close_nasdaq,Volume_nasdaq
Date,,,,,,,,,,,,,,,,,,,,,
2003-03-06,564.739990,564.869995,551.799988,555.330017,555.330017,735600.0,394.299988,395.600006,380.200012,381.899994,...,7659.089844,7673.990234,7673.990234,231760000,1306.069946,1312.609985,1299.810059,1302.890015,1302.890015,1262310000
2003-03-07,547.890015,555.380005,544.090027,546.020020,546.020020,635100.0,371.100006,373.000000,366.399994,366.899994,...,7562.649902,7740.029785,7740.029785,310190000,1285.300049,1310.530029,1280.719971,1305.290039,1305.290039,1436040000
2003-03-10,545.539978,548.289978,541.289978,544.239990,544.239990,607100.0,364.899994,367.700012,361.399994,362.000000,...,7559.640137,7568.180176,7568.180176,215960000,1295.459961,1299.550049,1277.180054,1278.369995,1278.369995,1119970000
2003-03-11,531.780029,538.619995,530.549988,532.530029,532.530029,657900.0,353.200012,356.399994,351.899994,354.299988,...,7520.629883,7524.060059,7524.060059,227470000,1280.729980,1288.989990,1269.479980,1271.469971,1271.469971,1251740000
2003-03-12,531.169983,534.760010,524.530029,531.809998,531.809998,793800.0,354.299988,368.299988,354.000000,368.299988,...,7416.640137,7552.069824,7552.069824,286350000,1266.989990,1279.589966,1253.219971,1279.239990,1279.239990,1533600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-21,2457.510010,2466.070068,2446.000000,2458.959961,2458.959961,494300.0,789.450012,793.419983,786.479980,793.419983,...,33115.738281,33129.589844,33129.589844,348320000,11640.370117,11684.139648,11491.179688,11492.299805,11492.299805,5002540000
2023-02-22,2430.870117,2435.979980,2416.159912,2417.679932,2417.679932,426700.0,782.830017,787.849976,774.539978,778.510010,...,32948.269531,33045.089844,33045.089844,321910000,11517.200195,11582.519531,11445.169922,11507.070313,11507.070313,4671270000
2023-02-23,2430.010010,2449.620117,2422.620117,2439.090088,2439.090088,400300.0,782.179993,784.590027,774.099976,783.280029,...,32795.671875,33153.910156,33153.910156,288120000,11636.929688,11638.980469,11432.580078,11590.400391,11590.400391,4714580000
2023-02-24,2442.489990,2452.969971,2421.469971,2423.610107,2423.610107,369200.0,784.940002,786.090027,774.210022,778.880005,...,32643.480469,32816.921875,32816.921875,277120000,11404.179688,11434.360352,11334.469727,11394.940430,11394.940430,4432650000
2023-02-27,2405.419922,2405.560059,2383.760010,2402.639893,2402.639893,356700.0,775.010010,781.539978,769.750000,780.299988,...,32814.179688,32889.089844,32889.089844,243660000,11517.190430,11565.230469,11444.599609,11466.980469,11466.980469,4494000000

In [25]:
df_snp500 = df_snp500.add_suffix('_S&P500')
df_snp500

,Open_S&P500,High_S&P500,Low_S&P500,Close_S&P500,Adj Close_S&P500,Volume_S&P500
Date,,,,,,
2003-03-06,829.849976,829.849976,819.849976,822.099976,822.099976,1299200000
2003-03-07,822.099976,829.549988,811.229980,828.890015,828.890015,1368500000
2003-03-10,828.890015,828.890015,806.570007,807.479980,807.479980,1255000000
2003-03-11,807.479980,814.250000,800.299988,800.729980,800.729980,1427700000
2003-03-12,800.729980,804.190002,788.900024,804.190002,804.190002,1620000000
...,...,...,...,...,...,...
2023-02-21,4052.350098,4052.350098,3995.189941,3997.340088,3997.340088,4121590000
2023-02-22,4001.830078,4017.370117,3976.899902,3991.050049,3991.050049,4079320000
2023-02-23,4018.600098,4028.300049,3969.189941,4012.320068,4012.320068,3952940000
2023-02-24,3973.239990,3978.250000,3943.080078,3970.040039,3970.040039,3877700000
2023-02-27,3992.360107,4018.050049,3973.550049,3982.239990,3982.239990,3836950000

In [16]:
df = pd.merge(df_sum, df_snp500, on='Date')
df

,Open_kospi,High_kospi,Low_kospi,Close_kospi,Adj Close_kospi,Volume_kospi,Open_kosdaq,High_kosdaq,Low_kosdaq,Close_kosdaq,...,Low_nasdaq,Close_nasdaq,Adj Close_nasdaq,Volume_nasdaq,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2003-03-06,564.739990,564.869995,551.799988,555.330017,555.330017,735600.0,394.299988,395.600006,380.200012,381.899994,...,1299.810059,1302.890015,1302.890015,1262310000,829.849976,829.849976,819.849976,822.099976,822.099976,1299200000
2003-03-07,547.890015,555.380005,544.090027,546.020020,546.020020,635100.0,371.100006,373.000000,366.399994,366.899994,...,1280.719971,1305.290039,1305.290039,1436040000,822.099976,829.549988,811.229980,828.890015,828.890015,1368500000
2003-03-10,545.539978,548.289978,541.289978,544.239990,544.239990,607100.0,364.899994,367.700012,361.399994,362.000000,...,1277.180054,1278.369995,1278.369995,1119970000,828.890015,828.890015,806.570007,807.479980,807.479980,1255000000
2003-03-11,531.780029,538.619995,530.549988,532.530029,532.530029,657900.0,353.200012,356.399994,351.899994,354.299988,...,1269.479980,1271.469971,1271.469971,1251740000,807.479980,814.250000,800.299988,800.729980,800.729980,1427700000
2003-03-12,531.169983,534.760010,524.530029,531.809998,531.809998,793800.0,354.299988,368.299988,354.000000,368.299988,...,1253.219971,1279.239990,1279.239990,1533600000,800.729980,804.190002,788.900024,804.190002,804.190002,1620000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-21,2457.510010,2466.070068,2446.000000,2458.959961,2458.959961,494300.0,789.450012,793.419983,786.479980,793.419983,...,11491.179688,11492.299805,11492.299805,5002540000,4052.350098,4052.350098,3995.189941,3997.340088,3997.340088,4121590000
2023-02-22,2430.870117,2435.979980,2416.159912,2417.679932,2417.679932,426700.0,782.830017,787.849976,774.539978,778.510010,...,11445.169922,11507.070313,11507.070313,4671270000,4001.830078,4017.370117,3976.899902,3991.050049,3991.050049,4079320000
2023-02-23,2430.010010,2449.620117,2422.620117,2439.090088,2439.090088,400300.0,782.179993,784.590027,774.099976,783.280029,...,11432.580078,11590.400391,11590.400391,4714580000,4018.600098,4028.300049,3969.189941,4012.320068,4012.320068,3952940000
2023-02-24,2442.489990,2452.969971,2421.469971,2423.610107,2423.610107,369200.0,784.940002,786.090027,774.210022,778.880005,...,11334.469727,11394.940430,11394.940430,4432650000,3973.239990,3978.250000,3943.080078,3970.040039,3970.040039,3877700000
2023-02-27,2405.419922,2405.560059,2383.760010,2402.639893,2402.639893,356700.0,775.010010,781.539978,769.750000,780.299988,...,11444.599609,11466.980469,11466.980469,4494000000,3992.360107,4018.050049,3973.550049,3982.239990,3982.239990,3836950000

In [43]:
df.head(10)

,Open_kospi,High_kospi,Low_kospi,Close_kospi,Adj Close_kospi,Volume_kospi,Open_kosdaq,High_kosdaq,Low_kosdaq,Close_kosdaq,Adj Close_kosdaq,Volume_kosdaq,Open,High,Low,Close,Adj Close,Volume,Open_nasdaq,High_nasdaq,Low_nasdaq,Close_nasdaq,Adj Close_nasdaq,Volume_nasdaq,Open_S&P500,High_S&P500,Low_S&P500,Close_S&P500,Adj Close_S&P500,Volume_S&P500
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2003-03-06,564.739990,564.869995,551.799988,555.330017,555.330017,735600.0,394.299988,395.600006,380.200012,381.899994,381.899994,282000.0,7774.759766,7777.419922,7659.089844,7673.990234,7673.990234,231760000,1306.069946,1312.609985,1299.810059,1302.890015,1302.890015,1262310000,829.849976,829.849976,819.849976,822.099976,822.099976,1299200000
2003-03-07,547.890015,555.380005,544.090027,546.020020,546.020020,635100.0,371.100006,373.000000,366.399994,366.899994,366.899994,302600.0,7671.750000,7743.819824,7562.649902,7740.029785,7740.029785,310190000,1285.300049,1310.530029,1280.719971,1305.290039,1305.290039,1436040000,822.099976,829.549988,811.229980,828.890015,828.890015,1368500000
2003-03-10,545.539978,548.289978,541.289978,544.239990,544.239990,607100.0,364.899994,367.700012,361.399994,362.000000,362.000000,286600.0,7739.399902,7739.470215,7559.640137,7568.180176,7568.180176,215960000,1295.459961,1299.550049,1277.180054,1278.369995,1278.369995,1119970000,828.890015,828.890015,806.570007,807.479980,807.479980,1255000000
2003-03-11,531.780029,538.619995,530.549988,532.530029,532.530029,657900.0,353.200012,356.399994,351.899994,354.299988,354.299988,304600.0,7568.529785,7642.410156,7520.629883,7524.060059,7524.060059,227470000,1280.729980,1288.989990,1269.479980,1271.469971,1271.469971,1251740000,807.479980,814.250000,800.299988,800.729980,800.729980,1427700000
2003-03-12,531.169983,534.760010,524.530029,531.809998,531.809998,793800.0,354.299988,368.299988,354.000000,368.299988,368.299988,342400.0,7517.759766,7552.069824,7416.640137,7552.069824,7552.069824,286350000,1266.989990,1279.589966,1253.219971,1279.239990,1279.239990,1533600000,800.729980,804.190002,788.900024,804.190002,804.190002,1620000000
2003-03-13,530.859985,531.780029,514.429993,531.780029,531.780029,679700.0,370.600006,371.100006,356.299988,360.700012,360.700012,313200.0,7555.290039,7824.339844,7555.290039,7821.750000,7821.750000,346650000,1297.739990,1340.780029,1290.589966,1340.770020,1340.770020,1789080000,804.190002,832.020020,804.190002,831.900024,831.900024,1816300000
2003-03-14,547.289978,548.450012,534.510010,537.650024,537.650024,758900.0,377.299988,379.899994,369.200012,370.100006,370.100006,272300.0,7822.169922,7931.629883,7799.479980,7859.709961,7859.709961,301760000,1344.260010,1352.839966,1329.969971,1340.329956,1340.329956,1611050000,831.890015,841.390015,828.260010,833.270020,833.270020,1541900000
2003-03-17,535.789978,535.789978,512.299988,515.239990,515.239990,640100.0,366.799988,366.799988,344.600006,346.399994,346.399994,293300.0,7857.959961,8145.839844,7779.729980,8141.919922,8141.919922,356750000,1329.949951,1392.410034,1326.280029,1392.270020,1392.270020,1886510000,833.270020,862.789978,827.169983,862.789978,862.789978,1700420000
2003-03-18,536.690002,539.299988,526.859985,537.309998,537.309998,682900.0,363.500000,366.399994,358.000000,365.000000,365.000000,328100.0,8142.689941,8209.360352,8096.120117,8194.230469,8194.230469,302750000,1392.000000,1400.550049,1378.829956,1400.550049,1400.550049,1632220000,862.789978,866.940002,857.359985,866.450012,866.450012,1555100000
2003-03-19,534.859985,546.679993,534.640015,541.780029,541.780029,615600.0,364.500000,373.200012,364.399994,367.700012,367.700012,306000.0,8193.040039,8277.639648,8141.500000,8265.450195,8265.450195,277110000,1396.270020,1401.239990,1378.569946,1397.069946,1397.069946,1694670000,866.450012,874.989990,861.210022,874.020020,874.020020,1473400000